# **Tayara Preprocessing**

Imports

In [29]:
import pandas as pd
import os

file_path = r"rawData/tayara_listings_complete_maisons_appart.csv"

if os.path.exists(file_path):
    df1 = pd.read_csv(file_path)
    print("File loaded, shape:", df1.shape)
else:
    print("File not found at:", os.path.abspath(file_path))
    
file_path = r"rawData/tayara_listings_complete_neuf.csv"

if os.path.exists(file_path):
    df2 = pd.read_csv(file_path)
    print("File loaded, shape:", df2.shape)
else:
    print("File not found at:", os.path.abspath(file_path))
    
df = pd.concat([df1, df2], ignore_index=True)
print(" Tayar's raw data size ",len(df))
print("tayara's categories")
print(df['categorie'].unique())

File loaded, shape: (2330, 8)
File loaded, shape: (174, 8)
 Tayar's raw data size  2504
tayara's categories
['appartements' 'maisons' 'immoneuf']

In [30]:
df['neuf'] = df['categorie'] == "immoneuf"

In [31]:
df.head()

,id,categorie,date,gouvernorat,delegation,prix,titre,description,neuf
0,693c50e8cd04d08be749ee7a,appartements,2025-12-14 17:32:53+00:00,Tunis,Gammarth,270000,un appartement s+2,"Appartement S+2 sur la route du Relais, dans ...",False
1,693ef21fcd04d08be74add4e,appartements,2025-12-14 17:21:35+00:00,Monastir,Bekalta,140000,Apparemment meublé sousse s+2,Je mets en vente cette appartement s+2 90 m2\n...,False
2,692b30e3145e1617cbae0a19,appartements,2025-12-14 17:18:54+00:00,Monastir,Monastir,250000,Bel appartement S+2 proche de la plage Palmier,À VENDRE – Bel appartement S+2 proche de la pl...,False
3,68ced66b516f1ddb82deec8b,appartements,2025-12-14 17:15:55+00:00,Monastir,Monastir,270000,Appartement S+2 Vue Mer,immobilière ajina vous propose :\n\nÀ VENDRE –...,False
4,6835f44f1539f905891f465b,appartements,2025-12-14 17:04:54+00:00,Nabeul,Hammam Ghezèze,205000,Appartements Haut standing en cours de constr...,A vendre des appartements Haut standing en co...,False

In [32]:
print(df.isnull().sum())

id             0
categorie      0
date           0
gouvernorat    0
delegation     0
prix           0
titre          0
description    4
neuf           0
dtype: int64

In [33]:
df[df.description.isna()]

,id,categorie,date,gouvernorat,delegation,prix,titre,description,neuf
803,692c9221145e1617cbae723a,appartements,2025-11-30 18:51:13+00:00,tunis,tunis,550000,Appartement a vendre s+3 Haut standing chauffa...,NaN,False
1105,693c2ce18914daae519a4cbd,maisons,2025-12-12 14:55:29+00:00,tunis,tunis,1500000,Villa R+2 à Vendre à Denden Avec 2 accès (Rou...,NaN,False
1596,6923714c145e1617cbab4690,maisons,2025-11-23 20:40:44+00:00,Nabeul,Bou Argoub,350000,Maison,NaN,False
2071,6900707fb756576ab40a39ee,maisons,2025-10-28 07:27:59+00:00,Sfax,Autres Villes,200000,للبيع طابق علوي مستقل به 3 غرف وفوقه ستيديو ع...,NaN,False

In [34]:
# 1. Voir les IDs dupliqués
duplicates = df[df['id'].duplicated(keep=False)]  # keep=False montre toutes les occurrences
print(f"Nombre total de lignes avec IDs dupliqués: {len(duplicates)}")

Nombre total de lignes avec IDs dupliqués: 4

In [35]:
#supprimer les ids dupliqués
df= df.drop_duplicates(subset='id', keep='first')

In [36]:
# 1. Voir les titres dupliqués
duplicates = df[df['titre'].duplicated(keep=False)]  # keep=False montre toutes les occurrences
print(f"Nombre total de lignes avec titres dupliqués: {len(duplicates)}")
# 2. Voir les descs dupliqués
duplicates = df[df['id'].duplicated(keep=False)]  # keep=False montre toutes les occurrences
print(f"Nombre total de lignes avec descriptions dupliqués: {len(duplicates)}")

Nombre total de lignes avec titres dupliqués: 285
Nombre total de lignes avec descriptions dupliqués: 0

Dans cette section nous allons utiliser les descriptions et les titres pour une extraction des attributs dont nous aurons besoin pour notre modele

# Enregistrement de la version finale

In [37]:
file_path = r"clean_rawData/tayara_listings_agregated.csv"
df.to_csv(file_path)